<div>
	<h2><%=article.source.title%></h2>

	<div
		id="stories"
		style="display: flex; overflow-x: scroll; overflow-y: hidden"
	>
		<% article.relatedArticles.forEach(function(article){ %> <%-
		include('storyCard', {article:article}); -%> <% }); %>
	</div>
	<div
		id="active_article"
		class="container-fluid"
		style="
			width: 65vw;
			position: absolute;
			padding-top: 10px;
			padding-bottom: 15px;
		"
	></div>
</div>

	<div
		class="container-fluid jumbotron"
		style="width: 80%; margin-top: 20px"
	></div>
<div style='text-align:center'>
	<textarea class='commentPicker' id="comment_<%=article.id%>"style="width:80%"></textarea>
</div>
