<div class="card clickCatcher" id="<%=article.id%>">
	<div class="card-body">
		<h5 class="card-title"><%=article.source.title%></h5>
		<h6 class="card-subtitle mb-2 text-muted">
            <%=article.source.source.name%>
        </h6>
	</div>
</div>
